<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    {% block head %}{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <title>.creative | PHP Router Twig View</title>
    <meta http-equiv="Cache-control" content="public">
    <meta name="copyright" content="All Rights Reserved - Monarch Studio" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <link rel="icon" href="/public/examples/favicon.png" type="image/png">
</head>
<body>

    <main>
        {% block content %}{% endblock %}
    </main>

    <style>
        /*INIT*/
        body {
            background-color: #03020b;
        }
        body *:not(code) {
            font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
            color: #fff;
        }
        main {
            max-width: 1070px;
            padding-left: 1em;
            padding-right: 1em;
            padding-bottom: 3em;
            margin: 0 auto;
        }
        hr {
            border-top: 1px solid #1d1d20;
            border-bottom: 0;
            border-right: 0;
            border-left: 0;
            margin-top: 1.5em;
        }
        /*TYPO*/
        h1 {
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1.4px;
            font-weight: 500;
        }
        h1, a, .__c-pink {
            color: #ff2673 !important;
        }
        .__c-text-center {
            text-align: center;
        }
        /*ELEMENTS*/
        #__c-logo {
            max-width: 400px;
            width: 100%;
        }
        .__c-code-block {
            background-color: #121213;
            padding: 20px;
            border-radius: 4px;
        }
    </style>
</body>
</html>