{% extends 'layouts/global.twig' %}

{% block content %}

    <p class="__c-text-center"><img id="__c-logo" src="/public/examples/logo-creative-monarch-studio.svg" alt="Creative Logo"></p>

    <h1 class="__c-text-center">PHP Router</h1>

    <h2 class="__c-text-center">Congrats ! This is a Twig rendering view !</h2>

    <p class="__c-text-center">Now you can rendering Twig views and start templating your project !</p>
    <p class="__c-text-center">More informations about Twig <a href="https://twig.symfony.com/">here</a>.</p>
    <hr>
    <p class="__c-text-center">Created with ❤️ by <a href="https://www.monarchstudio.fr">monarch studio</a></p>


{% endblock %}